<!DOCTYPE html>
<html>

<head>

    <%- include('./blocks/header'); %>
</head>

<body>

    <%- include('./blocks/nav'); %>
        <div class="container">
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <p>above is the dynamiclly loaded text value for the page name - idk where loaded from</p>
                </div>
            </div>

</body>

</html>