<!DOCTYPE html>
<html>
  <head>

  <%- include('./blocks/header'); %>
  </head>
  <body>
  
  <%- include('./blocks/nav'); %>
 <div class="container">
        <div class="row">  
		<div class="col-sm">
<h2>SUCCESS - JETTLIFE HELLO WORLD</h2>
</div>
<div class="col-sm-8">

    <ul>
      <%
        var list = '';
        for (i = 0; i < userlist.length; i++) {
          list += '</br><li><a href="' + userlist[i].email + '" class="btn btn-info" role="button">' + userlist[i].username + '</a></li>';
        }
      %>
      <%- list %>
    </ul>
	</div>
	<div class="col-sm">
<p>above is the dynamiclly loaded text value for the page name - idk where loaded from</p>
	</div>
	</div>
	<%- include('./blocks/r-c3'); %>
  </body>
</html>
