 <div id="rainbowbg" class="jumbotron jumbotron-fluid text-center">
        <h1 id="jumboTextColor">JETTLIFE API SERVER</h1>
        <h3>Temporary page - for testing nodejs app dev</h3>
    </div>

<p class="text-center text-muted"> JETTLIFE TECH - Inserting content into the body of this webpage utilizing EXPRESS and EJS render engines to dynamically add this from 1 file</p>
