<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="bird.jpg" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="http://db.jetlifemedia.com:3000/">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://db.jetlifemedia.com:3000/userlist">UserList</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>

 <div id="rainbowbg" class="jumbotron jumbotron-fluid text-center">
        <h1 id="jumboTextColor">NAVIGATION - CODE BLOCK -- JETTLIFE API SERVER</h1>
        <p>This is a code block being dynamically loaded, anything we change atdb.jetlifemedia.com/public_html/nodetest1/views/blocks/nav" will change this top part of the page</p>
<h3>Node App Running BootStrap 4 :) </h3>
    </div>
